html, body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.2em;
}

ul {
  display: table;
  margin: 50px auto;
}

li {
  margin: 20px;
}

.div-general-wrapper {
  margin-left: 50px;
  margin-top: 50px;
  margin-right: 50px;
}

.title-prediction {
  margin-top: 25px;
}