html, body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.2em;
}

ul {
  display: table;
  margin: 50px auto;
}

li {
  margin: 20px;
}

.button-avatar {
  border: none;
  padding-right: 15px;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

.image-avatar {
  width: 50px;
  height: 50px;
}
